In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import pickle

In [2]:
df = pd.read_csv('swiggy.csv')  # load the file

In [3]:
df.head()    # show the raw data

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [4]:
df.shape   #####shape o the data

(148541, 11)

In [5]:
df.info()   #variable with data types and category

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [6]:
df.isnull().sum()       # total no of null values are there

id                0
name             86
city              0
rating           86
rating_count     86
cost            131
cuisine          99
lic_no          229
link              0
address          86
menu              0
dtype: int64

In [7]:
a=df.drop(["id","lic_no","link","menu","address"],axis=1) # drop the columns that are not useful

In [8]:
a.head()  # final data to process after removing the  features that are not available

,name,city,rating,rating_count,cost,cuisine
0,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas"
1,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery"
2,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages
3,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian"
4,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food"

In [9]:
a['rating'] = a['rating'].replace({'--':np.nan})

In [10]:
a.head()

,name,city,rating,rating_count,cost,cuisine
0,AB FOODS POINT,Abohar,NaN,Too Few Ratings,₹ 200,"Beverages,Pizzas"
1,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery"
2,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages
3,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian"
4,GRILL MASTERS,Abohar,NaN,Too Few Ratings,₹ 250,"Italian-American,Fast Food"

In [11]:
a = a.dropna()

In [12]:

a['rating'] = a['rating'].astype('float64')

In [13]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61421 entries, 1 to 148521
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          61421 non-null  object
 1   city          61421 non-null  object
 2   rating        61421 non-null  float64
 3   rating_count  61421 non-null  object
 4   cost          61421 non-null  object
 5   cuisine       61421 non-null  object
dtypes: float64(1), object(5)
memory usage: 3.3+ MB

In [14]:
a['rating_count'].value_counts()

rating_count
20+ ratings     21628
100+ ratings    20542
50+ ratings     12003
500+ ratings     4396
1K+ ratings      2739
5K+ ratings        98
10K+ ratings       15
Name: count, dtype: int64

In [15]:
a.shape

(61421, 6)

In [16]:
a.head()

                name    city  rating  rating_count   cost           cuisine
1  Janta Sweet House  Abohar     4.4   50+ ratings  ₹ 200     Sweets,Bakery
2  theka coffee desi  Abohar     3.8  100+ ratings  ₹ 100         Beverages
3          Singh Hut  Abohar     3.7   20+ ratings  ₹ 250  Fast Food,Indian
5          Sam Uncle  Abohar     3.6   20+ ratings  ₹ 200       Continental
6   shere punjab veg  Abohar     4.0  100+ ratings  ₹ 150      North Indian

In [17]:
a['rating_count'] = a['rating_count'].replace({'20+ ratings':20, '100+ ratings':100, '50+ ratings':50,'500+ ratings':500,'1K+ ratings':1000,'5K+ ratings':5000,'10K+ ratings':10000})

C:\Users\Manish Computers\AppData\Local\Temp\ipykernel_12900\2843331738.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  a['rating_count'] = a['rating_count'].replace({'20+ ratings':20, '100+ ratings':100, '50+ ratings':50,'500+ ratings':500,'1K+ ratings':1000,'5K+ ratings':5000,'10K+ ratings':10000})

In [18]:
a.head()

                name    city  rating  rating_count   cost           cuisine
1  Janta Sweet House  Abohar     4.4            50  ₹ 200     Sweets,Bakery
2  theka coffee desi  Abohar     3.8           100  ₹ 100         Beverages
3          Singh Hut  Abohar     3.7            20  ₹ 250  Fast Food,Indian
5          Sam Uncle  Abohar     3.6            20  ₹ 200       Continental
6   shere punjab veg  Abohar     4.0           100  ₹ 150      North Indian

In [19]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61421 entries, 1 to 148521
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          61421 non-null  object
 1   city          61421 non-null  object
 2   rating        61421 non-null  float64
 3   rating_count  61421 non-null  int64
 4   cost          61421 non-null  object
 5   cuisine       61421 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 3.3+ MB

In [20]:
a.shape

(61421, 6)

In [21]:
a["cost"] = a["cost"].str.replace("₹", "").astype('int64')

In [22]:
a.head()

                name    city  rating  rating_count  cost           cuisine
1  Janta Sweet House  Abohar     4.4            50   200     Sweets,Bakery
2  theka coffee desi  Abohar     3.8           100   100         Beverages
3          Singh Hut  Abohar     3.7            20   250  Fast Food,Indian
5          Sam Uncle  Abohar     3.6            20   200       Continental
6   shere punjab veg  Abohar     4.0           100   150      North Indian

In [23]:
a.shape

(61421, 6)

In [24]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61421 entries, 1 to 148521
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          61421 non-null  object
 1   city          61421 non-null  object
 2   rating        61421 non-null  float64
 3   rating_count  61421 non-null  int64
 4   cost          61421 non-null  int64
 5   cuisine       61421 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 3.3+ MB

In [25]:
a["city"].value_counts()

city
Bikaner                  850
Indiranagar,Bangalore    601
Noida-1                  545
Koramangala,Bangalore    483
HSR,Bangalore            445
                        ...
Kumta                      1
Darjeeling                 1
Dhanbad                    1
Hansi                      1
Gangtok                    1
Name: count, Length: 777, dtype: int64

In [26]:
top_10_cities = a['city'].value_counts().head(20).index

In [27]:
df_top_10 = a[a['city'].isin(top_10_cities)]

In [28]:
df_top_10

,name,city,rating,rating_count,cost,cuisine
9351,Pastas By Pizza Hut,"Koramangala,Bangalore",3.8,50,300,"Pastas,Pizzas"
9352,Halli Donne Biryani,"Koramangala,Bangalore",3.5,20,200,South Indian
9356,Pipabu,"Koramangala,Bangalore",4.1,100,250,"Pizzas,Italian"
9358,Kerala Note Book,"Koramangala,Bangalore",3.4,20,350,"Kerala,Biryani"
9359,Biryani By Kilo,"Koramangala,Bangalore",4.2,500,500,"Biryani,Hyderabadi"
...,...,...,...,...,...,...
130101,Amul Ice Cream Parlour,"Viman Nagar,Pune",3.4,20,200,Desserts
130105,PVR Cafe,"Viman Nagar,Pune",3.8,20,300,"Snacks,Fast Food"
130106,Tulja Bhavani Chinese Corner,"Viman Nagar,Pune",3.8,20,150,Chinese
130113,Shawarma Spot,"Viman Nagar,Pune",3.5,100,200,Lebanese
130116,Rollfie,"Viman Nagar,Pune",3.9,500,200,Snacks

In [29]:
df_top_10['city'].value_counts()

city
Bikaner                                850
Indiranagar,Bangalore                  601
Noida-1                                545
Koramangala,Bangalore                  483
HSR,Bangalore                          445
BTM,Bangalore                          434
Greater Kailash 2,Delhi                414
Whitefield,Bangalore                   400
Electronic City,Bangalore              395
Bandra West,Mumbai                     392
Kammanahalli/Kalyan Nagar,Bangalore    376
Madhapur,Hyderabad                     372
Kukatpally,Hyderabad                   371
sohna road,Gurgaon                     369
Vashi,Mumbai                           355
Viman Nagar,Pune                       350
Patna                                  340
Powai,Mumbai                           336
Banjara Hills,Hyderabad                335
Arekere,Bangalore                      332
Name: count, dtype: int64

In [30]:
df_top_10.isnull().sum()

name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         0
dtype: int64

In [31]:
df_top_10.duplicated().sum()

np.int64(0)

In [32]:
df_top_10.duplicated().sum()

np.int64(0)

In [33]:
df_top_10 = df_top_10.drop_duplicates()

In [34]:
df_top_10.duplicated().sum()

np.int64(0)

In [35]:
df_top_10.head()

,name,city,rating,rating_count,cost,cuisine
9351,Pastas By Pizza Hut,"Koramangala,Bangalore",3.8,50,300,"Pastas,Pizzas"
9352,Halli Donne Biryani,"Koramangala,Bangalore",3.5,20,200,South Indian
9356,Pipabu,"Koramangala,Bangalore",4.1,100,250,"Pizzas,Italian"
9358,Kerala Note Book,"Koramangala,Bangalore",3.4,20,350,"Kerala,Biryani"
9359,Biryani By Kilo,"Koramangala,Bangalore",4.2,500,500,"Biryani,Hyderabadi"

In [36]:
df_top_10.to_csv('df_final.csv')

In [37]:
df_top_10.shape

(8495, 6)

In [38]:
df_top_10['cuisine'].value_counts()

cuisine
North Indian,Chinese     367
Bakery,Desserts          236
Indian                   229
Indian,Chinese           189
North Indian             185
                        ...
North Eastern,Mughlai      1
Lebanese,Continental       1
Seafood,Chinese            1
Continental,Grill          1
Lebanese,North Indian      1
Name: count, Length: 850, dtype: int64

In [39]:
df_top_10['city'].value_counts()

city
Bikaner                                850
Indiranagar,Bangalore                  601
Noida-1                                545
Koramangala,Bangalore                  483
HSR,Bangalore                          445
BTM,Bangalore                          434
Greater Kailash 2,Delhi                414
Whitefield,Bangalore                   400
Electronic City,Bangalore              395
Bandra West,Mumbai                     392
Kammanahalli/Kalyan Nagar,Bangalore    376
Madhapur,Hyderabad                     372
Kukatpally,Hyderabad                   371
sohna road,Gurgaon                     369
Vashi,Mumbai                           355
Viman Nagar,Pune                       350
Patna                                  340
Powai,Mumbai                           336
Banjara Hills,Hyderabad                335
Arekere,Bangalore                      332
Name: count, dtype: int64

In [40]:
from sklearn.preprocessing import MultiLabelBinarizer

In [41]:
df_top_10['city_list'] = df['city'].apply(
    lambda x: [i.strip() for i in x.split(',')]
)

In [42]:
df_top_10['cuisine_list'] = df_top_10['cuisine'].apply(
    lambda x: [i.strip() for i in x.split(',')]
)

In [43]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb_city = MultiLabelBinarizer()
city_encoded = mlb_city.fit_transform(df_top_10['city_list'])

city_df = pd.DataFrame(
    city_encoded,
    columns=['city_' + c for c in mlb_city.classes_],
    index=df_top_10.index
)

In [44]:
mlb_cuisine = MultiLabelBinarizer()
cuisine_encoded = mlb_cuisine.fit_transform(df_top_10['cuisine_list'])

cuisine_df = pd.DataFrame(
    cuisine_encoded,
    columns=['cuisine_' + c for c in mlb_cuisine.classes_],
    index=df_top_10.index
)

In [45]:







df_final = pd.concat([df_top_10, city_df, cuisine_df], axis=1)

df_final.drop(
    columns=['city', 'cuisine', 'city_list', 'cuisine_list'],
    inplace=True
)

In [46]:
df_final.head()

,name,rating,rating_count,cost,city_Arekere,city_BTM,city_Bandra West,city_Bangalore,city_Banjara Hills,city_Bikaner,...,cuisine_Sushi,cuisine_Sweets,cuisine_Tandoor,cuisine_Tex-Mex,cuisine_Thai,cuisine_Thalis,cuisine_Tibetan,cuisine_Turkish,cuisine_Vietnamese,cuisine_Waffle
9351,Pastas By Pizza Hut,3.8,50,300,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9352,Halli Donne Biryani,3.5,20,200,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9356,Pipabu,4.1,100,250,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9358,Kerala Note Book,3.4,20,350,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9359,Biryani By Kilo,4.2,500,500,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:





df_final.shape

(8495, 128)

In [48]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8495 entries, 9351 to 130116
Columns: 128 entries, name to cuisine_Waffle
dtypes: float64(1), int64(126), object(1)
memory usage: 8.4+ MB

In [49]:
df_final['name'].value_counts()

name
Domino's Pizza                           20
KFC                                      19
Pizza Hut                                19
Baskin Robbins                           19
NIC Natural Ice Creams                   19
                                         ..
Eighty Eight by Hyatt - Kalyani Nagar     1
DIL SE INDORI                             1
Gurunanak Dairy And Sweets                1
Shizusan                                  1
The Dessert Story                         1
Name: count, Length: 6019, dtype: int64

In [50]:
import matplotlib.pylab as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection  import train_test_split
from sklearn.cluster import KMeans

In [51]:
df2=df_final.iloc[:,1:]

In [52]:
from scipy.spatial.distance import cdist
clusters=range(1,20)
meanDistortions=[]

for k in clusters:
    model=KMeans(n_clusters=k)
    model.fit(df2)
    prediction=model.predict(df2)
    meanDistortions.append(sum(np.min(cdist(df2, model.cluster_centers_, 'euclidean'), axis=1)) / df2.shape[0])


plt.plot(clusters, meanDistortions, 'bx-')
plt.xlabel('k')
plt.ylabel('Average distortion')
plt.title('Selecting k with the Elbow Method')

Text(0.5, 1.0, 'Selecting k with the Elbow Method')

In [53]:
df2.head()

,rating,rating_count,cost,city_Arekere,city_BTM,city_Bandra West,city_Bangalore,city_Banjara Hills,city_Bikaner,city_Delhi,...,cuisine_Sushi,cuisine_Sweets,cuisine_Tandoor,cuisine_Tex-Mex,cuisine_Thai,cuisine_Thalis,cuisine_Tibetan,cuisine_Turkish,cuisine_Vietnamese,cuisine_Waffle
9351,3.8,50,300,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9352,3.5,20,200,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9356,4.1,100,250,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9358,3.4,20,350,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9359,4.2,500,500,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
final_model=KMeans(20)
final_model.fit(df2)
prediction=final_model.predict(df2)

#Append the prediction 
df_final["GROUP"] = prediction
df2["GROUP"] = prediction
print("Groups Assigned : \n")
df_final.head()

Groups Assigned :

,name,rating,rating_count,cost,city_Arekere,city_BTM,city_Bandra West,city_Bangalore,city_Banjara Hills,city_Bikaner,...,cuisine_Sweets,cuisine_Tandoor,cuisine_Tex-Mex,cuisine_Thai,cuisine_Thalis,cuisine_Tibetan,cuisine_Turkish,cuisine_Vietnamese,cuisine_Waffle,GROUP
9351,Pastas By Pizza Hut,3.8,50,300,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,11
9352,Halli Donne Biryani,3.5,20,200,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9356,Pipabu,4.1,100,250,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,14
9358,Kerala Note Book,3.4,20,350,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,18
9359,Biryani By Kilo,4.2,500,500,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,12

In [55]:
import pickle  # Add at top if not already imported

# Save the trained KMeans model
with open('kmeans_swiggy_model.pkl', 'wb') as f:
    pickle.dump(final_model, f)

In [56]:
df_final['GROUP'].value_counts()

GROUP
11    1549
0     1193
14     917
16     712
18     607
13     584
7      513
3      398
4      339
9      331
8      320
19     311
17     222
10     166
1      143
12     117
6       38
5       19
15      13
2        3
Name: count, dtype: int64

In [57]:
df_final.iloc[:,1:]

,rating,rating_count,cost,city_Arekere,city_BTM,city_Bandra West,city_Bangalore,city_Banjara Hills,city_Bikaner,city_Delhi,...,cuisine_Sweets,cuisine_Tandoor,cuisine_Tex-Mex,cuisine_Thai,cuisine_Thalis,cuisine_Tibetan,cuisine_Turkish,cuisine_Vietnamese,cuisine_Waffle,GROUP
9351,3.8,50,300,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,11
9352,3.5,20,200,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9356,4.1,100,250,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,14
9358,3.4,20,350,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,18
9359,4.2,500,500,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130101,3.4,20,200,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130105,3.8,20,300,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
130106,3.8,20,150,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130113,3.5,100,200,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
130116,3.9,500,200,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17

In [58]:
s = df_final.iloc[:,1:].groupby(['GROUP']).mean()
s

,rating,rating_count,cost,city_Arekere,city_BTM,city_Bandra West,city_Bangalore,city_Banjara Hills,city_Bikaner,city_Delhi,...,cuisine_Sushi,cuisine_Sweets,cuisine_Tandoor,cuisine_Tex-Mex,cuisine_Thai,cuisine_Thalis,cuisine_Tibetan,cuisine_Turkish,cuisine_Vietnamese,cuisine_Waffle
GROUP,,,,,,,,,,,,,,,,,,,,,
0,3.815088,30.108969,187.404023,0.042749,0.070411,0.029338,0.434199,0.036882,0.096396,0.045264,...,0.000000,0.025147,0.015088,0.000000,0.000838,0.010897,0.018441,0.000000,0.000000,0.003353
1,4.088811,1000.000000,486.573427,0.034965,0.041958,0.027972,0.440559,0.076923,0.041958,0.020979,...,0.000000,0.020979,0.006993,0.000000,0.020979,0.000000,0.000000,0.000000,0.000000,0.000000
2,3.866667,10000.000000,333.333333,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,...,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4.122613,63.944724,601.954774,0.017588,0.027638,0.072864,0.349246,0.037688,0.158291,0.082915,...,0.005025,0.005025,0.015075,0.000000,0.045226,0.005025,0.002513,0.002513,0.002513,0.000000
4,4.024484,500.000000,324.991150,0.047198,0.041298,0.032448,0.466077,0.032448,0.079646,0.056047,...,0.000000,0.017699,0.029499,0.000000,0.023599,0.014749,0.005900,0.000000,0.000000,0.000000
5,3.994737,5000.000000,318.421053,0.000000,0.000000,0.000000,0.210526,0.263158,0.000000,0.000000,...,0.000000,0.052632,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,4.205263,85.000000,1414.473684,0.026316,0.026316,0.078947,0.315789,0.078947,0.210526,0.052632,...,0.000000,0.000000,0.000000,0.000000,0.052632,0.000000,0.026316,0.026316,0.026316,0.000000
7,4.014620,100.000000,389.968811,0.054581,0.042885,0.070175,0.395712,0.037037,0.120858,0.031189,...,0.001949,0.021442,0.023392,0.000000,0.044834,0.007797,0.015595,0.000000,0.000000,0.000000
8,4.043750,1000.000000,246.643750,0.028125,0.056250,0.006250,0.393750,0.103125,0.125000,0.025000,...,0.000000,0.059375,0.018750,0.000000,0.009375,0.006250,0.009375,0.003125,0.000000,0.000000
9,4.168580,60.876133,783.223565,0.015106,0.015106,0.105740,0.311178,0.039275,0.184290,0.075529,...,0.015106,0.000000,0.003021,0.000000,0.018127,0.003021,0.003021,0.003021,0.000000,0.000000
10,4.179518,64.156627,1067.457831,0.006024,0.000000,0.198795,0.313253,0.072289,0.126506,0.054217,...,0.030120,0.000000,0.012048,0.000000,0.030120,0.000000,0.000000,0.000000,0.000000,0.000000
11,3.853583,29.819238,278.905100,0.041963,0.056165,0.036152,0.426727,0.025178,0.074887,0.045190,...,0.001937,0.012266,0.020013,0.001291,0.013557,0.012912,0.009684,0.001937,0.000000,0.009684
12,4.176923,500.000000,614.094017,0.034188,0.017094,0.034188,0.470085,0.085470,0.076923,0.034188,...,0.000000,0.008547,0.008547,0.000000,0.042735,0.025641,0.000000,0.000000,0.000000,0.000000
13,4.040582,56.558219,493.998288,0.018836,0.015411,0.078767,0.297945,0.042808,0.125000,0.085616,...,0.000000,0.010274,0.041096,0.000000,0.034247,0.006849,0.013699,0.001712,0.000000,0.000000
14,3.985169,100.000000,281.806979,0.042530,0.071974,0.039258,0.417666,0.033806,0.107961,0.057797,...,0.000000,0.020720,0.022901,0.000000,0.006543,0.006543,0.033806,0.002181,0.000000,0.002181
15,4.284615,42.307692,2030.769231,0.000000,0.000000,0.384615,0.230769,0.000000,0.076923,0.000000,...,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,4.010674,100.000000,185.056180,0.054775,0.058989,0.021067,0.463483,0.036517,0.089888,0.029494,...,0.000000,0.044944,0.014045,0.000000,0.004213,0.016854,0.011236,0.000000,0.000000,0.001404
17,4.093243,500.000000,174.346847,0.054054,0.063063,0.018018,0.504505,0.049550,0.072072,0.013514,...,0.000000,0.036036,0.004505,0.000000,0.009009,0.013514,0.000000,0.004505,0.000000,0.000000
18,3.868204,30.378913,383.153213,0.032949,0.060956,0.056013,0.380560,0.034596,0.088962,0.049423,...,0.003295,0.008237,0.018122,0.001647,0.016474,0.001647,0.006590,0.000000,0.000000,0.000000
19,3.926688,55.530547,96.369775,0.061093,0.051447,0.012862,0.446945,0.012862,0.048232,0.045016,...,0.000000,0.061093,0.019293,0.000000,0.000000,0.032154,0.000000,0.000000,0.000000,0.000000

In [59]:
df_final

,name,rating,rating_count,cost,city_Arekere,city_BTM,city_Bandra West,city_Bangalore,city_Banjara Hills,city_Bikaner,...,cuisine_Sweets,cuisine_Tandoor,cuisine_Tex-Mex,cuisine_Thai,cuisine_Thalis,cuisine_Tibetan,cuisine_Turkish,cuisine_Vietnamese,cuisine_Waffle,GROUP
9351,Pastas By Pizza Hut,3.8,50,300,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,11
9352,Halli Donne Biryani,3.5,20,200,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9356,Pipabu,4.1,100,250,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,14
9358,Kerala Note Book,3.4,20,350,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,18
9359,Biryani By Kilo,4.2,500,500,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130101,Amul Ice Cream Parlour,3.4,20,200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130105,PVR Cafe,3.8,20,300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
130106,Tulja Bhavani Chinese Corner,3.8,20,150,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130113,Shawarma Spot,3.5,100,200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16
130116,Rollfie,3.9,500,200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17

In [60]:

df_final[df_final.GROUP == 11]

,name,rating,rating_count,cost,city_Arekere,city_BTM,city_Bandra West,city_Bangalore,city_Banjara Hills,city_Bikaner,...,cuisine_Sweets,cuisine_Tandoor,cuisine_Tex-Mex,cuisine_Thai,cuisine_Thalis,cuisine_Tibetan,cuisine_Turkish,cuisine_Vietnamese,cuisine_Waffle,GROUP
9351,Pastas By Pizza Hut,3.8,50,300,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,11
9363,Brownie Points - Gourmet Brownies,4.5,20,250,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,11
9376,Giani Ice Cream,4.2,50,300,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,11
9394,The Golden Thali,4.2,20,300,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,11
9398,The Golden Bowl,4.3,20,250,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130066,The Chocolate Room,4.3,20,250,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
130083,The Dessert Story,4.1,50,300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
130091,ANNA VADA,4.2,50,300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
130099,Shakes Factory,4.1,20,300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
130105,PVR Cafe,3.8,20,300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11

In [61]:
df_final[df_final.GROUP == 7]

,name,rating,rating_count,cost,city_Arekere,city_BTM,city_Bandra West,city_Bangalore,city_Banjara Hills,city_Bikaner,...,cuisine_Sweets,cuisine_Tandoor,cuisine_Tex-Mex,cuisine_Thai,cuisine_Thalis,cuisine_Tibetan,cuisine_Turkish,cuisine_Vietnamese,cuisine_Waffle,GROUP
9365,Nando's,4.2,100,450,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,7
9377,DYU ART CAFE,4.2,100,400,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,7
9411,Malabar Cafe,3.4,100,349,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,7
9442,Gopaljee Cafe,4.2,100,350,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,7
9459,SMOOR,4.3,100,350,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129902,The Beans Talk Cafe,4.3,100,400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
129962,China Grill,3.6,100,350,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
129969,Crazy Cheesy (Viman Nagar),3.8,100,400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
130004,Wild Sugar,4.2,100,400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
130094,Le Pizza King,4.1,100,350,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7

In [62]:
df_final[df_final.GROUP == 2]

,name,rating,rating_count,cost,city_Arekere,city_BTM,city_Bandra West,city_Bangalore,city_Banjara Hills,city_Bikaner,...,cuisine_Sweets,cuisine_Tandoor,cuisine_Tex-Mex,cuisine_Thai,cuisine_Thalis,cuisine_Tibetan,cuisine_Turkish,cuisine_Vietnamese,cuisine_Waffle,GROUP
74731,Spicy Restaurant,3.7,10000,300,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,2
75087,Meridian Restaurant,4.0,10000,400,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2
77847,Mehfil,3.9,10000,300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [63]:
df_final.groupby(['GROUP'])['rating_count'].value_counts()

GROUP  rating_count
0      20               791
       50               402
1      1000             143
2      10000              3
3      100              183
       20               120
       50                95
4      500              339
5      5000              19
6      100               17
       20                14
       50                 5
       500                2
7      100              513
8      1000             320
9      100              138
       20               110
       50                83
10     20                60
       100               56
       50                47
       500                3
11     20              1042
       50               507
12     500              117
13     20               239
       100              220
       50               125
14     100              917
15     50                 7
       20                 5
       100                1
16     100              712
17     500              222
18     20               397
       50               210
19     20               126
       100              110
       50                75
Name: count, dtype: int64

In [64]:
df_final.to_csv('DO.csv')

In [65]:
df_final.head()

,name,rating,rating_count,cost,city_Arekere,city_BTM,city_Bandra West,city_Bangalore,city_Banjara Hills,city_Bikaner,...,cuisine_Sweets,cuisine_Tandoor,cuisine_Tex-Mex,cuisine_Thai,cuisine_Thalis,cuisine_Tibetan,cuisine_Turkish,cuisine_Vietnamese,cuisine_Waffle,GROUP
9351,Pastas By Pizza Hut,3.8,50,300,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,11
9352,Halli Donne Biryani,3.5,20,200,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9356,Pipabu,4.1,100,250,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,14
9358,Kerala Note Book,3.4,20,350,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,18
9359,Biryani By Kilo,4.2,500,500,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,12

In [66]:
a.head()

                name    city  rating  rating_count  cost           cuisine
1  Janta Sweet House  Abohar     4.4            50   200     Sweets,Bakery
2  theka coffee desi  Abohar     3.8           100   100         Beverages
3          Singh Hut  Abohar     3.7            20   250  Fast Food,Indian
5          Sam Uncle  Abohar     3.6            20   200       Continental
6   shere punjab veg  Abohar     4.0           100   150      North Indian

In [67]:
#df_final.to_csv('DOd.csv')

In [69]:
a.to_csv("Dod.csv")